@charset "utf-8";
/* CSS Document */



html { height: 100%; width: 100%;}

body {
    display: block;
    margin: 0px;
    height: 100%;
    width: 100%;

}

header { 
 /*   background-color: #005C99;
	height:93px; */

    height: 40px;
	/* padding-top:10px; */
 /*   margin-bottom: 20px;  */

    background-color:#3B5998;
}


header a { color: #f5f5f5; text-decoration: none;}
header a:active { color: #f5f5f5; text-decoration: none; }
header a:hover { color: #f5f5f5; text-decoration: none;}

header a:visited { color: #f5f5f5; text-decoration: none;}

header p { margin-top: 5px;}

p { margin:0;}

#shapka { width: 100%; height: 100%; /* margin-left: 138px; */ margin-left: 53px;}

#logo {

    font-size: 28px;
    line-height: 38px;
	color: #f5f5f5;
    margin-left: 53px;
	float: left; 
	width: 300px;
	}

